@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

@media (max-width: 1024px){
    .book-img{
        width: 300px;
    }
    .books {
        text-align: center;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .header {
        position: absolute;
        left: 37%;
    }

    .welcome-text {
        width: 140%;
        font-size: 28px;
    }

    .posts {
        grid-template-columns: 1fr;
    }

    .card-body h3 {
        font-size: 20px;
    }

    .card-body p {
        font-size: 15px;
    }

    .post-title {
        font-size: 25px;
    }

    .post-body h1,
    h2 {
        font-size: 20px;
    }

    .post-body p {
        font-size: 15px;
    }
    .books {
        text-align: center;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .buttons-box {
        width: 120%;
        display: flex;
    }

    .button-area .blogs-btn {
        padding: 10px;
    }

    .book-body .title {
        font-size: 16px;
    }

    .button-area h1 {
        font-size: 30px;
    }

    .container {
        padding: 0 15px;
    }

    .header {
      position: absolute;
      right: 10px;
    }

    .welcome-text {
        width: 150%;
        font-size: 23px;
    }

    .posts {
        grid-template-columns: 1fr;
    }

    .card-body h3 {
        font-size: 20px;
    }

    .card-body p {
        font-size: 15px;
    }

    .post-title {
        font-size: 25px;
    }

    .post-body h1,
    h2 {
        font-size: 20px;
    }

    .post-body p {
        font-size: 15px;
    }

    .books {
        margin: 10px 0 0;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .book-img {
        width: 60%;
    }

    .register-btn {
        padding: 10px;
        font-size: 15px;
    }
    .share{
        display: inline-block;
        margin-top: 10px;
    }
}